Repository and-voila/and-voila, pull requests merged in 2023-08, with the labels that each got.

#66 65 chore update dependencies
  apps/admin/package.json
  package.json
  pnpm-lock.yaml
Labels: deps, admin app, chore

#68 67 chore update dependencies dash
  apps/dash/package.json
  pnpm-lock.yaml
Labels: deps, dash app, chore

#70 chore(build): add turbo ignore #69
  apps/admin/vercel.json
  apps/dash/vercel.json
  apps/docs/vercel.json
  apps/web/vercel.json
Labels: build, chore

#73 67 update dash dependencies breaking
  .prettierignore
  apps/admin/vercel.json
  apps/dash/app/(dashboard)/code/page.tsx
  apps/dash/app/(dashboard)/write/page.tsx
  apps/dash/app/api/code/route.ts
  apps/dash/app/api/image/route.ts
  apps/dash/app/api/write/route.ts
  apps/dash/lib/stripe.ts
  apps/dash/next.config.js
  apps/dash/package.json
  apps/dash/vercel.json
  apps/docs/vercel.json
  apps/web/components/sections/contact/contact-form.tsx
  apps/web/next.config.js
  apps/web/vercel.json
  packages/ui/components/ui/radio-group.tsx
  pnpm-lock.yaml
Labels: deps, chore, refactor

#76 chore(deps): fix frozen lock file
  pnpm-lock.yaml
Labels: deps, build

#83 feat(apps/dash): learn prototype stub
  apps/dash/app/(dashboard)/learn/constant.ts
  apps/dash/app/api/chat/route.ts
  apps/dash/components/learn-form/chat.tsx
  apps/dash/components/learn-form/confirm.tsx
  apps/dash/components/learn-form/generate-blog.tsx
  apps/dash/components/learn-form/writing-sample.tsx
  apps/dash/inngest/functions.ts
  apps/dash/lib/handleInngest.ts
Labels: feat, dash app

#84 feat(apps/dash): add learn poc
  apps/dash/app/(dashboard)/learn/constant.ts
  apps/dash/app/api/chat/route.ts
  apps/dash/components/learn-form/chat.tsx
  apps/dash/components/learn-form/confirm.tsx
  apps/dash/components/learn-form/generate-blog.tsx
  apps/dash/components/learn-form/writing-sample.tsx
  apps/dash/inngest/functions.ts
  apps/dash/lib/handleInngest.ts
Labels: feat, dash app

#95 chore(docs): add cursor prompt library
  cursor-prompts/instructions.md
  cursor-prompts/vercel-ai/api-reference/ai-stream.md
  cursor-prompts/vercel-ai/api-reference/anthropic-stream.md
  cursor-prompts/vercel-ai/api-reference/huggingface-stream.md
  cursor-prompts/vercel-ai/api-reference/langchain-stream.md
  cursor-prompts/vercel-ai/api-reference/openai-stream.md
  cursor-prompts/vercel-ai/api-reference/prompts.md
  cursor-prompts/vercel-ai/api-reference/replicate-stream.md
  cursor-prompts/vercel-ai/api-reference/stream-data.md
  cursor-prompts/vercel-ai/api-reference/stream-to-response.md
  cursor-prompts/vercel-ai/api-reference/streaming-text-response.md
  cursor-prompts/vercel-ai/api-reference/tokens.md
  cursor-prompts/vercel-ai/api-reference/use-chat.md
  cursor-prompts/vercel-ai/api-reference/use-completion.md
  cursor-prompts/vercel-ai/caching-responses.md
  cursor-prompts/vercel-ai/nextjs-app.md
  cursor-prompts/vercel-ai/providers/anthropic.md
  cursor-prompts/vercel-ai/providers/hugging-face.md
  cursor-prompts/vercel-ai/providers/langchain.md
  cursor-prompts/vercel-ai/providers/openai-functions.md
  cursor-prompts/vercel-ai/providers/openai.md
  cursor-prompts/vercel-ai/providers/replicate.md
  cursor-prompts/wundergraph/wundergraph-blob.md
  cursor-prompts/wundergraph/wundergraph-intro.md
  cursor-prompts/wundergraph/wundergraph-multi-schema-orm.md
  cursor-prompts/wundergraph/wundergraph-neon.md
  cursor-prompts/wundergraph/wundergraph-nextjs.md
  cursor-prompts/wundergraph/wundergraph-upstash.md
Labels: chore, docs

#103 feat(apps/dash): learn prototype poc
  apps/dash/components/learn-form/chat.tsx
  apps/dash/components/learn-form/confirm.tsx
  apps/dash/components/learn-form/generate-blog.tsx
  apps/dash/components/learn-form/writing-sample.tsx
  apps/dash/inngest/functions.ts
Labels: feat, dash app

#105 feat(apps/dash): update learn prototype to vercel ai streaming #99
  apps/dash/app/api/chat/route.ts
  apps/dash/app/api/generate-blog/route.ts
  apps/dash/app/api/inngest/route.ts
  apps/dash/components/learn-form/chat.tsx
  apps/dash/components/learn-form/confirm.tsx
  apps/dash/components/learn-form/generate-blog.tsx
  apps/dash/components/learn-form/writing-sample.tsx
  apps/dash/inngest/functions.ts
  apps/dash/lib/handleInngest.ts
  apps/dash/middleware.ts
Labels: feat, dash app

#106 feat(apps/dash): iterate on learn prototype
  apps/dash/app/api/chat/route.ts
  apps/dash/app/api/inngest/route.ts
  apps/dash/components/learn-form/chat.tsx
  apps/dash/components/learn-form/confirm.tsx
  apps/dash/components/learn-form/generate-blog.tsx
  apps/dash/components/learn-form/writing-sample.tsx
  apps/dash/inngest/functions.ts
  apps/dash/lib/handleInngest.ts
  apps/dash/middleware.ts
Labels: feat, dash app

#107 29 check and update front end styles globally
  apps/admin/app/page.tsx
  apps/dash/app/(dashboard)/code/page.tsx
  apps/dash/app/(dashboard)/dashboard/page.tsx
  apps/dash/app/(dashboard)/image/page.tsx
  apps/dash/app/(dashboard)/learn/constant.ts
  apps/dash/app/(dashboard)/learn/page.tsx
  apps/dash/app/(dashboard)/music/page.tsx
  apps/dash/app/(dashboard)/video/page.tsx
  apps/dash/app/(dashboard)/write/page.tsx
  apps/dash/app/(landing)/page.tsx
  apps/dash/components/free-counter.tsx
  apps/dash/components/learn-form/chat.tsx
  apps/dash/components/learn-form/writing-sample.tsx
  apps/dash/components/sidebar.tsx
  apps/docs/pages/custom.css
  apps/web/app/about/page.tsx
  apps/web/app/accessibility/page.tsx
  apps/web/app/layout.tsx
  apps/web/app/mdx/[slug]/page.tsx
  apps/web/app/mdx/page.tsx
  apps/web/app/pricing/page.tsx
  apps/web/app/privacy/page.tsx
  apps/web/app/terms/page.tsx
  apps/web/app/use-cases/[slug]/page.tsx
  apps/web/app/use-cases/page.tsx
  apps/web/components/blockquote.tsx
  apps/web/components/cta.tsx
  apps/web/components/features.tsx
  apps/web/components/footer.tsx
  apps/web/components/grid-list.tsx
  apps/web/components/landing-hero.tsx
  apps/web/components/landing-layout.tsx
  apps/web/components/list.tsx
  apps/web/components/mdx-components.tsx
  apps/web/components/page-links.tsx
  apps/web/components/section.tsx
  apps/web/components/sections/about/culture.tsx
  apps/web/components/sections/about/team.tsx
  apps/web/components/sections/contact/contact-details.tsx
  apps/web/components/sections/features/Values.tsx
  apps/web/components/sections/features/co-creator.tsx
  apps/web/components/sections/features/coding.tsx
  apps/web/components/sections/features/learns-style.tsx
  apps/web/components/sections/features/mulltimedia.tsx
  apps/web/components/sections/features/multiplayer.tsx
  apps/web/components/sections/features/privacy.tsx
  apps/web/components/sections/features/writing.tsx
  apps/web/components/sections/home/ai-partners.tsx
  apps/web/components/sections/home/use-cases.tsx
  apps/web/components/sections/pricing/faq.tsx
  apps/web/components/sections/pricing/pricing-tiers.tsx
  apps/web/components/sections/use-cases/clients.tsx
  apps/web/components/sections/use-cases/use-cases.tsx
  apps/web/components/stylized-image.tsx
  apps/web/components/testimonial.tsx
  apps/web/content/use-cases/generate-edit-amazing-ai-videos.mdx
  packages/ui/components/ui/progress.tsx
  packages/ui/components/ui/tailwind-rwd.tsx
  packages/ui/index.tsx
  turbo.json
Labels: fix, docs app, dash app, web app, style

#112 chore(apps/dash): review wundergraph cloud config #111
  .eslintignore
  .gitignore
  apps/dash/.gitignore
  apps/dash/.wundergraph/operations/api-limit/create.ts
  apps/dash/.wundergraph/operations/api-limit/get.ts
  apps/dash/.wundergraph/operations/api-limit/update.ts
  apps/dash/.wundergraph/operations/createApiLimit.graphql
  apps/dash/.wundergraph/operations/createSubscription.graphql
  apps/dash/.wundergraph/operations/deleteApiLimit.graphql
  apps/dash/.wundergraph/operations/deleteSubscription.graphql
  apps/dash/.wundergraph/operations/getUserApiLimit.graphql
  apps/dash/.wundergraph/operations/getUserSubscription.graphql
  apps/dash/.wundergraph/operations/updateApiLimit.graphql
  apps/dash/.wundergraph/operations/updateSubscription.graphql
  apps/dash/.wundergraph/operations/user-subscriptions/create.ts
  apps/dash/.wundergraph/operations/user-subscriptions/get.ts
  apps/dash/.wundergraph/operations/user-subscriptions/update.ts
  apps/dash/.wundergraph/wundergraph.config.ts
  apps/dash/.wundergraph/wundergraph.operations.ts
  apps/dash/.wundergraph/wundergraph.server.ts
  apps/dash/app/api/chat/route.ts
  apps/dash/app/api/inngest/route.ts
  apps/dash/components/learn-form/chat.tsx
  apps/dash/components/learn-form/generate-blog.tsx
  apps/dash/inngest/functions.ts
  apps/dash/lib/handleInngest.ts
  apps/dash/lib/upstash-redis.ts
  apps/dash/lib/wundergraph.ts
  apps/dash/middleware.ts
  apps/dash/package.json
  pnpm-lock.yaml
  turbo.json
Labels: dash app, chore, dependencies

#113 chore(apps/dash): review wundergraph cloud config #111
  .eslintignore
  .gitignore
  apps/dash/.gitignore
  apps/dash/.wundergraph/operations/api-limit/create.ts
  apps/dash/.wundergraph/operations/api-limit/get.ts
  apps/dash/.wundergraph/operations/api-limit/update.ts
  apps/dash/.wundergraph/operations/createApiLimit.graphql
  apps/dash/.wundergraph/operations/createSubscription.graphql
  apps/dash/.wundergraph/operations/deleteApiLimit.graphql
  apps/dash/.wundergraph/operations/deleteSubscription.graphql
  apps/dash/.wundergraph/operations/getUserApiLimit.graphql
  apps/dash/.wundergraph/operations/getUserSubscription.graphql
  apps/dash/.wundergraph/operations/updateApiLimit.graphql
  apps/dash/.wundergraph/operations/updateSubscription.graphql
  apps/dash/.wundergraph/operations/user-subscriptions/create.ts
  apps/dash/.wundergraph/operations/user-subscriptions/get.ts
  apps/dash/.wundergraph/operations/user-subscriptions/update.ts
  apps/dash/.wundergraph/wundergraph.config.ts
  apps/dash/.wundergraph/wundergraph.operations.ts
  apps/dash/.wundergraph/wundergraph.server.ts
  apps/dash/app/api/chat/route.ts
  apps/dash/app/api/inngest/route.ts
  apps/dash/components/learn-form/chat.tsx
  apps/dash/components/learn-form/generate-blog.tsx
  apps/dash/inngest/functions.ts
  apps/dash/lib/handleInngest.ts
  apps/dash/lib/upstash-redis.ts
  apps/dash/lib/wundergraph.ts
  apps/dash/middleware.ts
  apps/dash/package.json
  pnpm-lock.yaml
  turbo.json
Labels: deps, dash app, chore

#115 chore(apps/dash): remove-wonky-learn-prototype #114
  apps/dash/app/(dashboard)/learn/constant.ts
  apps/dash/app/(dashboard)/learn/page.tsx
  apps/dash/app/api/chat/route.ts
  apps/dash/app/api/inngest/route.ts
  apps/dash/components/learn-form/chat.tsx
  apps/dash/components/learn-form/confirm.tsx
  apps/dash/components/learn-form/generate-blog.tsx
  apps/dash/components/learn-form/writing-sample.tsx
  apps/dash/components/sidebar.tsx
  apps/dash/inngest/functions.ts
  apps/dash/lib/handleInngest.ts
  apps/dash/lib/upstash-redis.ts
  apps/dash/package.json
  packages/eslint-config-custom/index.js
  pnpm-lock.yaml
  turbo.json
Labels: dash app, chore, revert

#116 chore(apps/dash): remove-wonky-learn-prototype #114
  apps/dash/app/(dashboard)/learn/constant.ts
  apps/dash/app/(dashboard)/learn/page.tsx
  apps/dash/app/api/chat/route.ts
  apps/dash/app/api/inngest/route.ts
  apps/dash/components/learn-form/chat.tsx
  apps/dash/components/learn-form/confirm.tsx
  apps/dash/components/learn-form/generate-blog.tsx
  apps/dash/components/learn-form/writing-sample.tsx
  apps/dash/components/sidebar.tsx
  apps/dash/inngest/functions.ts
  apps/dash/lib/handleInngest.ts
  apps/dash/lib/upstash-redis.ts
  apps/dash/package.json
  packages/eslint-config-custom/index.js
  pnpm-lock.yaml
  turbo.json
Labels: dash app, chore, revert

#117 fix: stripe build error #25
  apps/dash/app/api/stripe/route.ts
  apps/dash/middleware.ts
Labels: fix, dash app

#118 fix: stripe build error #25
  apps/dash/app/api/stripe/route.ts
  apps/dash/middleware.ts
Labels: fix, dash app

#119 feat: create acknowledgements page #27
  apps/web/app/stack/page.tsx
  apps/web/components/footer.tsx
  apps/web/components/mdx-components.tsx
  apps/web/components/sections/home/contact-section.tsx
  apps/web/components/sections/home/use-cases.tsx
  apps/web/content/legals/stack.mdx
Labels: feat, web app, style
